@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

// @include mq($phonePortrait) {
    
    .article-container {
        display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        height: 100px;
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 1fr);
    
        justify-content: space-between;
        column-gap: 1rem;
        row-gap: 1rem;
        position: absolute;
        max-width: 990px;
    }
    
    .indiv-article {
        border: 1px dotted grey;
        // padding: 10px;
        position: relative;
        display: flex;
    }
    
    .img-article-container {
        display: block;
        margin-bottom: 0px;
        // display: inline-block;
        margin: 0;
        position: relative;
        aspect-ratio: 5 / 3;
        width: 100%;
        flex: 1;
    }
    .img-article {
        // width: 100%;
        display: block;
        object-fit: cover;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    .article-info {
        flex: 2;
    }

// }
@include mq($phoneLandscape) {
    .article-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        column-gap: 1rem;
        row-gap: 1rem;
        position: absolute;
        max-width: 990px;
    }

    .img-article {
        // width: 100%;
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }


    
// .article-container {
//     display: grid;
//     // grid-template-columns: 1fr 1fr 1fr;
//     height: 100px;
//     width: 100%;
//     grid-template-columns: 100%;
//     grid-template-rows: repeat(6, 1fr);

//     justify-content: space-between;
//     column-gap: 1rem;
//     row-gap: 1rem;
//     position: absolute;
//     max-width: 990px;
// }

.indiv-article {
    border: 1px dotted grey;
    // padding: 10px;
    position: relative;
    // max-width: 990px;
    display: block;
}

.img-article-container {
    // display: block;
    display: block;
    margin: 0;
    margin-bottom: 10px;
    position: relative;
    aspect-ratio: 5 / 3;
    width: 100%;
    // border: 15px dotted green;
    // width: 100%;
}
.img-article {
    // width: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.article-info {
    display: block;
}
}


@include mq($tabletPortrait) {
// @include mq($phoneLandscape) {
    .article-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        column-gap: 1rem;
        row-gap: 1rem;
        position: absolute;
        max-width: 990px;
    }

    .img-article {
        // width: 100%;
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }


    
// .article-container {
//     display: grid;
//     // grid-template-columns: 1fr 1fr 1fr;
//     height: 100px;
//     width: 100%;
//     grid-template-columns: 100%;
//     grid-template-rows: repeat(6, 1fr);

//     justify-content: space-between;
//     column-gap: 1rem;
//     row-gap: 1rem;
//     position: absolute;
//     max-width: 990px;
// }

.indiv-article {
    border: 1px dotted grey;
    // padding: 10px;
    position: relative;
    // max-width: 990px;
}

.img-article-container {
    // display: block;
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
    position: relative;
    aspect-ratio: 5 / 3;
    width: 100%;
    // border: 15px dotted green;
    // width: 100%;
}
.img-article {
    // width: 100%;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
}
