@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

footer {
    position: static;
    background-color: $brand-color;
    color: $text-color-light;
    text-align: center;
    margin: 10px 0;
    padding: 10px;
}