@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

header {
    background-color: $brand-color;
    padding: em(15) em(30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;

    h1 {
        @include flatten;
        color: $text-color-light;
        @include mq($phoneLandscape){
            font-size: em(32);
        }
    }

    .btn-menu-lscreen {
        display: none;
    }

    .btn-menu-smscreen {
        flex: 1;
        display: block;
        padding: 13px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        color: black;
        background-color: white;
    }


    @include mq($tabletPortrait){

        .hamburger {
            order: 9000;
            background-color: $brand-color;
            border: 2px solid $brand-color;
            display: block;
        }

        .btn-menu-lscreen {
            flex: 1;
            display: block;
            padding: 13px;
            font-weight: bold;
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            color: black;
            background-color: white;
        }

        .btn-menu-smscreen {
            display: none;
        }

        .logo {
            flex: 1;
        }
    }

    a {
        @include plain-link;
    }

}