@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

header {
    background-color: red;
    // border: 2px solid red;
    padding: em(15) em(30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    // position: relative;
    font-family: 'Open Sans', sans-serif;
    // color: black;

    h1 {
        @include flatten;
        color: $text-color-light;
        font-size: em(26);
        @include mq($phoneLandscape){
            font-size: em(32);
        }
    }

    @include mq($phoneLandscape){


        // .show .primary-navlist {
        //     flex: 1;
        //     position: absolute;
        //     // top: 1px;

        // }

        .hamburger {
            order: 9000;
            background-color: red;
            border: 2px solid red;
            display: block;
        }

        .btn-menu {
            flex: 1;

            padding: 13px;
            font-weight: bold;
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            color: black;
            background-color: white;
        }
        .logo {
            flex: 1;
        }
    }

    a {
        @include plain-link;
    }

}