@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;


.hero-row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid black;
        margin-bottom: 8px;
        margin-top: 8px;
        // margin: 8px;
        // padding: 8px;

    .hero-left,
    .hero-right {
        margin: 0;
        // border: 2px solid red;
        text-align: center;
    }

    .hero-left {
        flex: 3;
    }

    .hero-right {
        flex: 1;
    }

    .hero-img {
        // max-width: 600px;
        margin: 0;
        display: block;
    }

    // @include mq($phoneLandscape){
    //     .some-row {
    //         @include flex-layout-row;
    //         gap: em(20);
    //     }
    //     .a-01,
    //     .a-02 {
    //         flex: 1;
    //         margin-bottom: 0;
    //     }
    // }

}