@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

@media (max-width: 850px){

    nav {
        .show & {
        position: fixed;
    }
}

    .btn-menu-smscreen {
        position: relative;
    }
        .primary-navlist {
        display: none;
        .show & {
            display: block;
            position: absolute;
            // top: -100px;
            // left: 275px;
    }
}
        .secondary-navlist {
            display: none;
            .show & {
                display: block;
                position: absolute;
                // top: 59px;
                // left: 600px;
        }
}


.primary-navlist 
    {
        display: none;
        .show & {
            display: block;
            position: absolute;
            top: 70px;
            left: 400px;
            ul {
                top: -45px;
                left: -156px;
            }
            li{
                padding: 10px;
                font-weight: bold;
                font-family: 'Open Sans', sans-serif;
                background-color: $navlist-btns-bg-color;
                border: 1px dotted grey;
                position: static;
            }
            a {
                color: black;
            }
        }
}

.secondary-navlist {
    display: none;
    .show & {
        display: block;
        position: absolute;
        top: 59px;
        left: 500px;
        ul {
            top: -50px;
            left: -166px;
        }
        li{
            padding: 10px;
            font-weight: bold;
            font-family: 'Open Sans', sans-serif;
            background-color: $navlist-btns-bg-color;
            border: 1px dotted grey;
            position: static;
        }
        a {
            color: black;
        }
    }
}

}

 nav {
     display: none;

    .show & {
        display: block;
        z-index: 9999;
        // position: fixed;
    }

    ul {
        position: absolute;
        list-style: none;
        // flex: 0;
    }

    li a {
        color: black;
        font-size: 20px;
    }

    .primary-navlist ul {
        margin: 0;
        padding: 0;
    }

    a {
        display: block;
        line-height: 50px;
        // border-top: $border;
        // color: $text-color-light;
        // line-height: $height;
        text-align: center;
        font-size: 1.2em;
        text-decoration: none;
        outline: none;
        
        #{$lps} {
            background-color: rgba($navlist-btns-bg-color, 0.3);
        }


    .secondary-navlist {
        display: none;
        .show & {
            display: block;
            position: absolute;
            top: 59px;
            left: 675px;
            li{
                padding: 10px;
                font-weight: bold;
                font-family: 'Open Sans', sans-serif;
                background-color: $navlist-btns-bg-color;
                border: 1px dotted grey;
                position: static;
            }
            a {
                color: black;
            }
        }
    }
}

    @include mq($tabletPortrait) {

        display: flex;

        .show & {
            display: flex;
        }

        .primary-navlist {
            ul {
                position: static;
                display: flex;
            }
            li{
                padding: 10px;
                font-weight: bold;
                font-family: 'Open Sans', sans-serif;
            }
            a {
                color: $navlist-btns-bg-color;
            }
        }

        .secondary-navlist {
            display: none;
            .show & {
                display: block;
                position: absolute;
                top: 59px;
                left: 675px;
                li{
                    padding: 10px;
                    font-weight: bold;
                    font-family: 'Open Sans', sans-serif;
                    background-color: $navlist-btns-bg-color;
                    border: 1px dotted grey;
                    position: static;
                }
                a {
                    color: black;

                }
            }
        }
   }

 }


 
 