@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;


nav {
    display: none;
    position: absolute;

    top: 60px;
    right: 20px;
    .show & {
        display: flex;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    .btn-menu-smscreen {
        position: relative;
    }

    @include mq($tabletPortrait) {
        display: block; 
        position: static;
        
    }
}

.primary-navlist { 
            li{
                padding: 10px;
                font-weight: bold;
                font-family: 'Open Sans', sans-serif;
                background-color: $navlist-btns-bg-color;
                border: 1px dotted grey;
                position: static;
            }
            a {
                color: black;
            }
    @include mq($tabletPortrait) {
        li{
            padding: 10px;
            font-weight: bold;
            font-family: 'Open Sans', sans-serif;
            background-color: $brand-color;
            border: none;
            position: static;
        }
        a {
            color: $navlist-btns-bg-color;
        }
     }
}

.secondary-navlist {
    display: none;
    .show & {
        display: block;
  
        li{
            padding: 10px;
            font-weight: bold;
            font-family: 'Open Sans', sans-serif;
            background-color: $navlist-btns-bg-color;
            border: 1px dotted grey;
            position: static;
        }
        a {
            color: black;
        }
    }
}



 nav {
     display: none;

    .show & {
        // position: absolute;
        z-index: 9999;
        // position: fixed;
    }

    ul {
        list-style: none;
    }

    li a {
        color: black;
        font-size: 20px;
    }

    .primary-navlist ul {
        margin: 0;
        padding: 0;
    }

    a {
        display: block;
        text-align: center;
        font-size: 1.2em;
        text-decoration: none;
        outline: none;
        
        #{$lps} {
            background-color: rgba($navlist-btns-bg-color, 0.3);
        }


    .secondary-navlist {
        display: none;
        .show & {
            display: block;
            // position: absolute;
            li{
                padding: 10px;
                font-weight: bold;
                font-family: 'Open Sans', sans-serif;
                background-color: $navlist-btns-bg-color;
                border: 1px dotted grey;
                position: static;
            }
            a {
                color: black;
            }
        }
    }
}

    @include mq($tabletPortrait) {

        display: flex;

        .show & {
            display: flex;
        }

        .primary-navlist {
            ul {
                position: static;
                display: flex;
            }
            li{
                padding: 10px;
                font-weight: bold;
                font-family: 'Open Sans', sans-serif;
            }
            a {
                color: $navlist-btns-bg-color;
            }
        }

        .secondary-navlist {
            display: none;
            position: absolute;
            top: 60px;
            right: 20px;
            .show & {
                display: block;
                li{
                    padding: 10px;
                    font-weight: bold;
                    font-family: 'Open Sans', sans-serif;
                    background-color: $navlist-btns-bg-color;
                    border: 1px dotted grey;
                    position: static;
                }
                a {
                    color: black;

                }
            }
        }
   }

 }


 
 