@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.wrapper {
    max-width: 900px;
    margin: 0 auto;
    // padding-bottom: 8px;
    // border: 2px solid red;
    // display: block;
    position: relative;
    // justify-content: center;

}